<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Indecisive Decision</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/homepage.css" />
      <link rel="shortcut icon" href="../static/images/logo_light.png" />
  </head>
  <body>
    <header>
      <div class="left_half">
        <img src="../static/images/logo_dark.png" alt="The Infinite Question">
        <div class="header_left_text">
          *Random fun message*
        </div>
      </div>
      <div class="right_half">
        <div class="header_right_text">
          <a href="login_signup.html">Log In/Sign Up</a>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="top_half">
      </div>
      <div class="bottom_half">
      </div>
    </div>
    <footer>
      <div class="footer_text">
        Indecisive Decision.<br>Created by Michelle Giraldo, Mitchell Moscovics, Ezra Nobrega
      </div>
    </footer>
  </body>
</html>
