html, body {
    height: 100%;
    width: 100%;
    font-family: "Lato";
    font-size: 17px;
    position:relative;
    margin:0;
    padding:0;
    overflow:auto;
}

body::-webkit-scrollbar {
    display: none;
    width: 0px;
    opacity: 0;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background: rgb(39,15,54);
    background: linear-gradient(0deg, rgba(65,25,87,0.8590103277639181) 0%, rgba(206,102,153,0.847805845971201) 73%);
    overflow: hidden;
    overflow-y: scroll;
}

.container {
    margin-top: 75px;           /* In order to not include header height within container */
    margin-bottom: 60px;        /* In order to not include footer height within container */
    height: 100%;
    width: 100%;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    align-self: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: auto auto;  /* Causes modal to appear in center */
    border: 1px solid #888;
    min-width: 330px;
    width: 75%;
    max-width: 700px;
    height: auto;
    border-radius: 8px;
}

.modal_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f09f9c;
    width: auto;
    height: auto;
    margin: 20px;
}

.modal_text {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.modal_text h2 {
    margin: 0px;
}

.modal_text h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.modal_text p {
    margin-left: 30px;
    margin-right: 30px;
}

/* The Close Button */
.close {
    align-self: flex-end;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Once body is thinner than 530: go vertical for mobile */

@media screen and (max-width: 530px) {
    .modal_text p {
        margin-left: 10px;
        margin-right: 10px;
    }
}