img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

header {
    position: absolute;            /* Window re-size doesn't affect appearance */
    display: flex;
    height: 75px;
    width: 100%;
    padding-bottom: 10px;
}

header .left_half {
    height: 100%;
    margin-left: 3%;            /* To not have text right against edge */
    display: flex;
    flex: 3;
    justify-content: flex-start;/* Horizontal (text) */
    align-items: center;        /* Vertical  (text) */
}

header .right_half {
    height: 100%;
    margin-right: 3%;           /* To not have text right against edge */
    display: flex;
    flex: 1;
    justify-content: flex-end;  /* Horizontal (text) */
    align-items: center;        /* Vertical (text)*/
}

.header_left_text {
    padding: 5px;               /* To not have text right against edges */
}

.login_signup_text {
    color: black;
    text-decoration: underline;
    padding: 5px;               /* To not have text right against edges */
}
