.btn.btn-outline-info {
	background: floralwhite;
	border-style: solid;
	padding: 2px 15px;
	border-radius: 10px;
	margin: 4px;
}

.containers {
    flex: 3;
}

.first_container {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_register {
	padding: 10px;
	background: #fefefe;
	border-radius: 8px;
	border: 1px solid #888;
}

.form_box_register {
	background-color: #ff8fb3;
	padding: 12px;
	border: 1px solid #888;;
}

.helptext {
	display: none;
}

.form_profile {
	display: none;
}

.info_wrapper {
	display: none;
}