.containers {
    flex: 3;
}

.first_container {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container_register {
	padding: 20px;
	background: white;
	border-radius: 10px;
}

.form_box_register {
	background-color: pink;
	padding: 20px;
}

.helptext {
	display: none;
}

