<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indecisive Decision</title>
      {% load static %}
      {% block head_inherit %}{% endblock %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
      <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="left_half">
        <img src="{% static 'img/logo_dark.png' %}" alt="The Infinite Question">
        <div class="header_left_text">
          <!--*random message*-->
        </div>
      </div>
      <div class="right_half">
        <text class="login_signup_text">
          Log In/Sign Up
        </text>
      </div>
    </header>
    <div id="modal" class="modal">
      <div class="modal-content">
        <div class="modal-login">
          <span class="close">&times;</span>
          <h4>Login</h4>
          <form>
            <input type="text" name="username" class="username form-control" placeholder="Username"/><br>
            <input type="password" name="password" class="password form-control" placeholder="Password"/><br>
            <input class="btn login" type="submit" value="Enter" />
          </form>
        </div>
        <div class="modal-signup">
          <span class="close">&times;</span>
          <h4>Signup</h4>
          <form>
            <input type="text" name="username" class="username form-control" placeholder="Username"/><br>
            <input type="password" name="password" class="password form-control" placeholder="Password"/><br>
            <input type="password" name="password" class="password form-control" placeholder="Confirm Password"/><br>
            <input class="btn signup" type="submit" value="Enter" />
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
    <footer>
      <div class="footer_text">
        Indecisive Decision.<br>Created by Michelle Giraldo, Mitchell Moscovics, Ezra Nobrega
      </div>
    </footer>
  </body>
</html>
