<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indecisive Decision</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
      <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
      {% block head_inherit %}{% endblock %}
    </head>
  <body>
    <header>
      <div class="left_half">
        <a href="/"><img src="{% static 'img/logo_dark.png' %}" alt="The Infinite Question"> </a>
        <div class="header_left_text">
          <!--*random message*-->
        </div>
      </div>
      <div class="right_half">
       <text class="login_signup_text">
          More Info
        </text>
        <div id="modal" class="modal">
          <div class="modal_container">
            <div class="modal_box">
              <span class="close">&times;</span>
              <div class="modal_text">
                <h2>Indecisive Decision</h2>
                <br>
                <h4>An application to help the indecisive decide.</h4>
                <p>Hello! Welcome to our website. The purpose of this application is to help get rid of your indecision reguarding a particular subject. For our MVP, we have particularly completed the restaurant decider.</p>
                <p>All that is required for this decider is your location, but you may optionally input the price and rating. Then select the amount of results you'd like to choose from and hit "Roll" for a random selection of what's in your area. You may alternatively select "Feeling Lucky?" for a single result.</p>
                <p>If it's difficult to select from the amount provided, you may remove what you don't like and click "Narrow" to randomly remove some selections.</p>
              </div>
            </div>
          </div>
        </div>
    {% if user.is_authenticated %}
        <p>
          <form style="margin:0;" action='/profile/' method="GET">
                <input type="submit" value="{{ user }}" class="account_button"/>
            </form>
            <form style="margin:0;" action='/logout/' method="POST">
            {% csrf_token %}
                <input type="submit" value="Logout" class="account_button"/>
                <input type="hidden" name="next" value="{{ current_path }}"/>
            </form>
        </p>
      </div>
    </header>
    {% else %}
    <a href="/login/"> <button class="account_button">
      Login
    </button> </a>
      <a href="/register/"> <button class="account_button">
          Register
        </button> </a>
      </div>
    </header>
    {% endif %}
    </div>
    <div class="container">
      {% block container %}
      {% endblock %}
    </div>
    <div class="second_container">
      {% block second_container %}
      {% endblock %}
    </div>
    <footer>
      <div class="footer_text">
        Indecisive Decision<br>Created by Michelle Giraldo, Mitchell Moscovics, Ezra Nobrega
      </div>
    </footer>
  </body>
</html>
