{% extends 'base.html' %}
{% load static %}

{% block head_inherit %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block container %}
	<div class="profile_body">
		<div class='profile_top'>
			<h1>{{ user }}</h1>
		</div>
	</div>
{% endblock %}

{% block modal %}
  <h2>User Page</h2>
  <br>
  <h4> Access your personal favorites to remove any you wish! </h4>
{% endblock %}

{% block second_container %}
	<div class="profile_body">
		<h3> Favorites </h3>
		<section class="profile_bottom">
			{% for favorite in favorites %}
				<div class="favorites_object">
					<div class="inner_border">
						<text class="favorite_name">{{ favorite.name }} </text>  
						<img class="rest_img" src="{{ favorite.image_url }}" width="500" height="500px">
						<text class="favorite_address">{{favorite.address }}</text> 
						<text class="favorite_rating">{{ favorite.rating }}</text>
						<text class="favorite_price">{{ favorite.price }}</text>
						<div class="delete_div{{favorite.rest_id}}"><button id="{{ favorite.rest_id }}" class="delete_favorite"> Delete </button></div>
					</div>
				</div>
			{% endfor %}
		<section>
	</div>
	<script> 
		$('button.delete_favorite').click( function () {
			const id = $(this).attr('id')
			$(this).addClass('deleted').removeClass('delete_favorite')
			$.ajax({
     		url: '/delete_favorite/' + id,
      		type: 'GET',
      		dataType: 'json',
			success: function (data) {
					 $('div.delete_div' + id + " button.deleted").text('Deleted')
				}
			});
		});
	</script>
{% endblock %}