{% extends 'base.html' %}
{% load static %}

{% block head_inherit %}
  <script type="text/javascript" src="{% static 'js/rest_search.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/restaurant_search.css' %}" />
{% endblock %}

{% block container %}
  <div class="top_half">
    <h2>Restaurant Decider</h2>
  </div>
  <div class="bottom_half">
    <div class="search_container">
      <div class="search_box">
        <div class="location_div">
          <label for="location">Location</label>
          <input type="text" name="location" class="location_input" id="location_input" placeholder="Zipcode (Required)"/>
        </div>
        <div class="price_div">
          <label for="price">Price</label>
          <select name="price" id="price">
            <option value="0"></option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
          </select>
        </div>
        <div class="rating_div">
          <label for="rating">Rating</label>
          <select name="rating" id="rating">
            <option id="empty_rating" value="0"></option>
            <option id="one_star" value="1">1 star</option>
            <option id="two_star" value="2">2 stars</option>
            <option id="three_star" value="3">3 stars</option>
            <option id="four_star" value="4">4 stars</option>
            <option id="five_star" value="5">5 stars</option>
          </select>
        </div>
        <div class="results_div">
          <label for="results">Results</label>
          <form name="results" action="" method="">
            <input type="radio" name="results" id="result5" /> <text>5</text>
            <input type="radio" name="results" id="result10" checked="yes" /> <text>10</text>
            <input type="radio" name="results" id="result20"/> <text>20</text>
            </form>
            <button id="region_search">Roll</button>
        </div>
        <button>Feeling Lucky?</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block second_container %}
  <div class="restaurant_result">
  </div>
{% endblock %}
