{% extends 'base.html' %}
{% load static %}

{% block head_inherit %}
  <script type="text/javascript" src="{% static 'js/rest_search.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/restaurant_search.css' %}" />
{% endblock %}

{% block modal %}
  <h2>Indecisive Decision</h2>
  <br>
  <h4>An application to help the indecisive decide.</h4>
  <p>Hello! Welcome to our website. The purpose of this application is to help get rid of your indecision reguarding a particular subject. For our MVP, we have particularly completed the restaurant decider.</p>
  <p>All that is required for this decider is your location, but you may optionally input the price and rating. Then select the amount of results you'd like to choose from and hit "Roll" for a random selection of what's in your area. You may alternatively select "Feeling Lucky?" for a single result.</p>
  <p>If it's difficult to select from the amount provided, you may remove what you don't like and click "Narrow" to randomly remove some selections.</p>
{% endblock %}

{% block container %}
  <div id="popup1" class="popup">
    <h2>ERROR</h2>
    <p>Hey! There seems to be an error with the location you inputted, please double check and try again! Else there was a time out error connecting to Yelp :C</p>
  </div>
  <div id="popup2" class="popup">
    <h2>ERROR</h2>
    <p>Sorry! There is nothing currently open/available with those parameters.</p>
  </div>
  <div class="top_half">
    <h2>Restaurant Decider</h2>
  </div>
  <div class="bottom_half">
    <div class="search_container">
      <div class="search_box">
        <div class="location_div">
          <label for="location">Location</label>
          <input type="text" name="location" class="location_input" id="location_input" placeholder=" Required"/>
        </div>
        <div class="price_div">
          <label for="price">Price</label>
          <select name="price" id="price">
            <option value="0"></option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
          </select>
        </div>
        <div class="rating_div">
          <label for="rating">Rating</label>
          <select name="rating" id="rating">
            <option id="empty_rating" value="0"></option>
            <option id="one_star" value="1">1 star</option>
            <option id="two_star" value="2">2 stars</option>
            <option id="three_star" value="3">3 stars</option>
            <option id="four_star" value="4">4 stars</option>
            <option id="five_star" value="5">5 stars</option>
          </select>
        </div>
        <div class="results_div">
          <label for="results">Results</label>
          <form id="total_roll" name="results" action="" method="">
            <input type="radio" name="results" id="5" /> <text>5</text>
            <input type="radio" name="results" id="10" checked="yes" /> <text>10</text>
            <input type="radio" name="results" id="20"/> <text>20</text>
            </form>
            <button name="roll" id="region_search" href="#restaurant_results">Roll</button>
        </div>
        <button name="lucky" id="region_search" href="#restaurant_results">Feeling Lucky?</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block second_container %}
  <section class="restaurant_result" id="restaurant_result">
<!--    <article class="single_result">
      <div class="restaurant_name">
        <h2></h2>
        <div class="restaurant_rating">**</div>
      </div>
      <div class="restaurant_img">
      </div>
      <div class="restaurant_info">
        <div class="restaurant_location"> address</div>
        <div class="restaurant_phone"> number</div>
        <div class="restaurant_categories"> categories</div>
      </div>
      <div class="restaurant_footer">
        <div class="restaurant_price">$</div>
        <div class="yelp_logo"></div>
      </div>
    </article> -->
  </section>
{% endblock %}
